.sr-logo , .ts-logo, .hs-logo,
.sr-logo .media-body h5, .ts-logo .media-body h5, .hs-logo .media-body h5 {
  font-weight: 700;
  color: #000000;
  font-size: 1.25rem;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.dap-tw-logo {
		width: 30%;
	    font-size: 0.825rem;
	}
	.dap-tw-text, .panel-title, .helprint {
	 font-size: 0.825rem;
	}
	#date, #time {
		display: none;
	}
	.dashboard_top_block {
	height: 15rem;
	}
  img#navbar-logo {
    width: 6rem;
  }
  .nav-item .nav-link {
      padding: 0;
      font-size: .825rem;
  }
  .btn-laguage {
      font-size: .625rem;
      width: 6.1875rem;
  }
  .btn-icon .btn-inner--text:not(:first-child) {
      margin: 0;
  }
  .h3, h3 {
      font-size: calc(1rem + .6vw);
  }
  .shape-position-bottom {
    margin-bottom: -1px;
  }
  img.center-logo {
    width: 13rem;
  }
  .media-body h5 {
    font-size: 1rem !important;
    margin: 0;
  }
  .media-body p {
    font-size: 0.425rem;
  }
  .sr-logo {
    position: absolute;
    left: -21.75rem;
    top: 44px;
    /* width: 6rem; */
  }
  .sr-logo .media-body {
    width: 5rem;
    position: absolute;
    left: 22.35rem;
  }
  .sr-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .sr-logo a img {
    width: 2rem;
  }
  .ts-logo {
    position: absolute;
    right: -21.5rem;
    top: 4.75rem;
    /* width: 5.5rem; */
  }
  .ts-logo .media-body {
    width: 4rem;
    position: absolute;
    right: 23rem;
    top: 0rem;
  }
  .ts-logo a {
    width: 6rem;
    right: 26.8rem;
    position: absolute;
  }
  .ts-logo a img {
    width: 2rem;
  }
  .hs-logo {
    position: absolute;
    left: -21.5rem;
    top: 125px;
    /* width: 5rem; */
  }
  .hs-logo .media-body {
    width: 5rem;
    position: absolute;
    left: 23.25rem;
  }
  .hs-logo a {
    width: 6rem;
    left: 27.5rem;
    position: absolute;
  }
  .hs-logo a img {
    width: 1.5rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	body, .dap-tw-text {
		font-size: 0.825rem;
	}
	.dap-tw-logo {
		width: 20%;
	}
	.order1 {
		order: 1
	}
	.order2 {
		order: 2
	}
	.order3 {
		order: 3
	}
  .shape-position-bottom {
    margin-bottom: -2.3rem;
  }
  img.center-logo {
    width: 25rem;
  }
  .media-body h5 {
    font-size: .975rem !important
  }
  .media-body p {
    font-size: 0.725rem;
  }
  .sr-logo {
    position: absolute;
    left: -14.25rem;
    top: 75px;
    /* width: 6rem; */
  }
  .sr-logo .media-body {
    width: 7rem;
    position: absolute;
    left: 18rem;
    top: 1rem;
  }
  .sr-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .sr-logo a img {
    width: 4rem;
  }
  .ts-logo {
    position: absolute;
    right: -13.875rem;
    top: 8.937rem;
    /* width: 5.5rem; */
  }
  .ts-logo .media-body {
    width: 9rem;
    position: absolute;
    right: 15.5rem;
    top: 30px;
  }
  .ts-logo a {
    width: 6rem;
    right: 26.8rem;
    position: absolute;
  }
  .ts-logo a img {
    width: 4rem;
  }
  .hs-logo {
    position: absolute;
    left: -13.25rem;
    top: 241px;
    /* width: 5rem; */
  }
  .hs-logo .media-body {
  	width: 9rem;
    position: absolute;
    left: 16rem;
    top: 30px;
  }
  .hs-logo a {
    width: 6rem;
    left: 27.5rem;
    position: absolute;
  }
  .hs-logo a img {
    width: 3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.dap-tw-logo {
		width: 20%;
	}
  .shape-position-bottom {
    margin-bottom: -2.3rem;
  }
  img.center-logo {
    width: 25rem;
  }
  .media-body h5 {
    font-size: .875rem !important;
  }
  .media-body p {
    font-size: 0.725rem;
  }
  .sr-logo {
    position: absolute;
    left: -17.75rem;
    top: 75px;
    /* width: 6rem; */
  }
  .sr-logo .media-body {
    width: 7.5rem;
    position: absolute;
    left: 19.5rem;
    top: 1rem;
  }
  .sr-logo a {
    width: 6rem;
    left: 27.8rem;
    position: absolute;
  }
  .sr-logo a img {
    width: 4rem;
  }
  .ts-logo {
    position: absolute;
    right: -16rem;
    top: 8.937rem;
    /* width: 5.5rem; */
  }
  .ts-logo .media-body {
    width: 8rem;
    position: absolute;
    right: 16.25rem;
    top: 30px;
  }
  .ts-logo a {
    width: 6rem;
    right: 26.8rem;
    position: absolute;
  }
  .ts-logo a img {
    width: 4rem;
  }
  .hs-logo {
    position: absolute;
    left: -15.75rem;
    top: 241px;
    /* width: 5rem; */
  }
  .hs-logo .media-body {
    width: 7rem;
    position: absolute;
    left: 18.5rem;
    top: 30px;
  }
  .hs-logo a {
    width: 6rem;
    left: 27.5rem;
    position: absolute;
  }
  .hs-logo a img {
    width: 3rem;
  }
}
@media (min-width: 1199px) and (max-width: 1299.98px) {
  img.center-logo {
    width: 29rem;
  }
  .sr-logo {
    position: absolute;
    left: -17.25rem;
    top: 85px;
    /* width: 6rem; */
  }
  .sr-logo .media-body {
  	width: 8rem;
    position: absolute;
    left: 17rem;
    top: 1rem;
  }
  .sr-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .sr-logo a img {
    width: 5rem;
  }
  .ts-logo {
    position: absolute;
    right: -262px;
    top: 169px;
    /* width: 5.5rem; */
  }
  .ts-logo .media-body {
    width: 10rem;
    position: absolute;
    right: 15.7rem;
    top: 1rem;
  }
  .ts-logo a {
    width: 6rem;
    right: 26.8rem;
    position: absolute;
  }
  .ts-logo a img {
    width: 4.5rem;
  }
  .hs-logo {
    position: absolute;
    left: -15rem;
    top: 275px;

    /* width: 5rem; */
  }
  .hs-logo .media-body {
    width: 9rem;
    position: absolute;
    left: 17.2rem;
    top: 1rem;
  }
  .hs-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .hs-logo a img {
    width: 3.5rem;
  }
}
@media (min-width: 1301px) and (max-width: 1398.98px) {
  img.center-logo {
    width: 29rem;
  }
  .sr-logo {
    position: absolute;
    left: -14.5rem;
    top: 86px;
    /* width: 6rem; */
  }
  .sr-logo .media-body {
  	width: 8rem;
    position: absolute;
    left: 17rem;
    top: 1rem;
  }
  .sr-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .sr-logo a img {
    width: 5rem;
  }
  .ts-logo {
    position: absolute;
    right: -221px;
    top: 169px;
    /* width: 5.5rem; */
  }
  .ts-logo .media-body {
    width: 11rem;
    position: absolute;
    right: 13rem;
    top: 2rem;
  }
  .ts-logo a {
    width: 6rem;
    right: 26.8rem;
    position: absolute;
  }
  .ts-logo a img {
    width: 4.5rem;
  }
  .hs-logo {
    position: absolute;
    left: -12.215rem;
    top: 275px;

    /* width: 5rem; */
  }
  .hs-logo .media-body {
    width: 10rem;
    position: absolute;
    left: 15rem;
    top: 2rem;
  }
  .hs-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .hs-logo a img {
    width: 3.5rem;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1399px) {
  img.center-logo {
    width: 29rem;
  }
  .sr-logo {
    position: absolute;
    left: -12.215rem;
    top: 85px;
    /* width: 6rem; */
  }
  .sr-logo .media-body {
  	width: 8rem;
    position: absolute;
    left: 17rem;
    top: 1rem;
  }
  .sr-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .sr-logo a img {
    width: 5rem;
  }
  .ts-logo {
    position: absolute;
    right: -179px;
    top: 169px;
    /* width: 5.5rem; */
  }
  .ts-logo .media-body {
    width: 11rem;
    position: absolute;
    right: 12rem;
    top: 2rem;
  }
  .ts-logo a {
    width: 6rem;
    right: 26.8rem;
    position: absolute;
  }
  .ts-logo a img {
    width: 4.5rem;
  }
  .hs-logo {
    position: absolute;
    left: -10.215rem;
    top: 275px;

    /* width: 5rem; */
  }
  .hs-logo .media-body {
    width: 10rem;
    position: absolute;
    left: 15rem;
    top: 2rem;
  }
  .hs-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .hs-logo a img {
    width: 3.5rem;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1599px) {
  img.center-logo {
    width: 29rem;
  }
  .sr-logo {
    position: absolute;
    left: -5.5rem;
    top: 85px;
    /* width: 6rem; */
  }
  .sr-logo .media-body {
  	width: 8rem;
    position: absolute;
    left: 17rem;
    top: 1rem;
  }
  .sr-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .sr-logo a img {
    width: 5rem;
  }
  .ts-logo {
    position: absolute;
    right: -79px;
    top: 169px;
    /* width: 5.5rem; */
  }
  .ts-logo .media-body {
    width: 11rem;
    position: absolute;
    right: 12rem;
    top: 2rem;
  }
  .ts-logo a {
    width: 6rem;
    right: 26.8rem;
    position: absolute;
  }
  .ts-logo a img {
    width: 4.5rem;
  }
  .hs-logo {
    position: absolute;
    left: -3.5rem;
    top: 275px;

    /* width: 5rem; */
  }
  .hs-logo .media-body {
    width: 10rem;
    position: absolute;
    left: 15rem;
    top: 2rem;
  }
  .hs-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .hs-logo a img {
    width: 3.5rem;
  }
}
@media (min-width: 1600px) and (max-width: 1679.98px) {
	img.center-logo {
    width: 29rem;
  }
  .sr-logo {
    position: absolute;
    left: -10.7rem;
    top: 85px;
    /* width: 6rem; */
  }
  .sr-logo .media-body {
  	width: 8rem;
    position: absolute;
    left: 17rem;
    top: 1rem;
  }
  .sr-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .sr-logo a img {
    width: 5rem;
  }
  .ts-logo {
    position: absolute;
    right: -159px;
    top: 169px;
    /* width: 5.5rem; */
  }
  .ts-logo .media-body {
    width: 11rem;
    position: absolute;
    right: 12rem;
    top: 2rem;
  }
  .ts-logo a {
    width: 6rem;
    right: 26.8rem;
    position: absolute;
  }
  .ts-logo a img {
    width: 4.5rem;
  }
  .hs-logo {
    position: absolute;
    left: -8.5rem;
    top: 275px;
    /* width: 5rem; */
  }
  .hs-logo .media-body {
    width: 10rem;
    position: absolute;
    left: 15rem;
    top: 2rem;
  }
  .hs-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .hs-logo a img {
    width: 3.5rem;
  }
}
@media (min-width: 1680px) and (max-width: 1698.98px) {
	img.center-logo {
    width: 29rem;
  }
  .sr-logo {
    position: absolute;
    left: -9.5rem;
    top: 85px;
    /* width: 6rem; */
  }
  .sr-logo .media-body {
  	width: 8rem;
    position: absolute;
    left: 17rem;
    top: 1rem;
  }
  .sr-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .sr-logo a img {
    width: 5rem;
  }
  .ts-logo {
    position: absolute;
    right: -139px;
    top: 169px;
    /* width: 5.5rem; */
  }
  .ts-logo .media-body {
    width: 11rem;
    position: absolute;
    right: 12rem;
    top: 2rem;
  }
  .ts-logo a {
    width: 6rem;
    right: 26.8rem;
    position: absolute;
  }
  .ts-logo a img {
    width: 4.5rem;
  }
  .hs-logo {
    position: absolute;
    left: -7.7rem;
    top: 275px;
    /* width: 5rem; */
  }
  .hs-logo .media-body {
    width: 10rem;
    position: absolute;
    left: 15rem;
    top: 2rem;
  }
  .hs-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .hs-logo a img {
    width: 3.5rem;
  }
}
@media (min-width: 1699px) and (max-width: 1899.98px) {
  img.center-logo {
    width: 29rem;
  }
  .sr-logo {
    position: absolute;
    left: -9rem;
    top: 85px;
    /* width: 6rem; */
  }
  .sr-logo .media-body {
  	width: 8rem;
    position: absolute;
    left: 16rem;
    top: 1rem;
  }
  .sr-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .sr-logo a img {
    width: 5rem;
  }
  .ts-logo {
    position: absolute;
    right: -129px;
    top: 169px;
    /* width: 5.5rem; */
  }
  .ts-logo .media-body {
    width: 11rem;
    position: absolute;
    right: 12rem;
    top: 2rem;
  }
  .ts-logo a {
    width: 6rem;
    right: 26.8rem;
    position: absolute;
  }
  .ts-logo a img {
    width: 4.5rem;
  }
  .hs-logo {
    position: absolute;
    left: -7rem;
    top: 275px;

    /* width: 5rem; */
  }
  .hs-logo .media-body {
    width: 10rem;
    position: absolute;
    left: 14rem;
    top: 2rem;
  }
  .hs-logo a {
    width: 6rem;
    left: 26.8rem;
    position: absolute;
  }
  .hs-logo a img {
    width: 3.5rem;
  }
}
.position-relative .media a img.align-self-center {
  transition: transform 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
}


.position-relative .media a img.align-self-center:hover {
  transform: translateY(0) scale(1.2);
}