@font-face {
    font-family: 'Tanseek Mod Pro Arabic';
    src: url('TanseekModProArabic-Bold.eot');
    src: url('TanseekModProArabic-Bold.eot?#iefix') format('embedded-opentype'),
        url('TanseekModProArabic-Bold.woff2') format('woff2'),
        url('TanseekModProArabic-Bold.woff') format('woff'),
        url('TanseekModProArabic-Bold.ttf') format('truetype'),
        url('TanseekModProArabic-Bold.svg#TanseekModProArabic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

